// main {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

mat-sidenav-container.myapp-dark-theme {
  background-color: black;
}

.full-width {
  width: 100%
}

.fill-remaining-space {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 300px;
}
